<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="#">
</head>
<body>
    <nav role="navigation" aria-label="main navigation">
        <div>
            <a href='/'>Home</a>
            ${!!is_logged_in ? `
                <a class="navbar-item" href='/users/logout'>Logout of ${user.email} </a>
                ` : `
                <a class="navbar-item" href='/users/signup'>Register</a>
                <a class="navbar-item" href='/users/login'>Login</a>
                `
            }
        </div>
    </nav>
    ${body}
</body>
</html>